postprNotHpPackage.wl
ibex/goodTimes_Axis/.DS_Store
ibex/goodTimes_Axis/spinAxEclTabWarsaw.m
ibex/Map2018A_1deg_binned/.DS_Store
ibex/Map2018A_1deg_binned/0412a.qABC
ibex/Map2018A_1deg_binned/0412b.qABC
ibex/Map2018A_1deg_binned/0413a.qABC
ibex/Map2018A_1deg_binned/0413b.qABC
ibex/Map2018A_1deg_binned/0414a.qABC
ibex/Map2018A_1deg_binned/0414b.qABC
ibex/Map2018A_1deg_binned/0415a.qABC
ibex/Map2018A_1deg_binned/0415b.qABC
ibex/Map2018A_1deg_binned/0416a.qABC
ibex/Map2018A_1deg_binned/0416b.qABC
ibex/Map2018A_1deg_binned/0417a.qABC
ibex/Map2018A_1deg_binned/0417b.qABC
ibex/Map2018A_1deg_binned/0418a.qABC
ibex/Map2018A_1deg_binned/0418b.qABC
ibex/Map2018A_1deg_binned/0419a.qABC
ibex/Map2018A_1deg_binned/0419b.qABC
ibex/Map2018A_1deg_binned/0420a.qABC
ibex/Map2018A_1deg_binned/0420b.qABC
ibex/Map2018A_1deg_binned/0421a.qABC
ibex/Map2018A_1deg_binned/0421b.qABC
ibex/Map2018A_1deg_binned/0422a.qABC
ibex/Map2018A_1deg_binned/0422b.qABC
ibex/Map2018A_1deg_binned/0423a.qABC
ibex/Map2018A_1deg_binned/0423b.qABC
ibex/Map2018A_1deg_binned/0424a.qABC
ibex/Map2018A_1deg_binned/0424b.qABC
ibex/Map2018A_1deg_binned/0425a.qABC
ibex/Map2018A_1deg_binned/0425b.qABC
ibex/Map2018A_1deg_binned/0426a.qABC
ibex/Map2018A_1deg_binned/0426b.qABC
ibex/Map2018A_1deg_binned/0427a.qABC
ibex/Map2018A_1deg_binned/0427b.qABC
ibex/Map2018A_1deg_binned/0428a.qABC
ibex/Map2018A_1deg_binned/0428b.qABC
ibex/Map2018A_1deg_binned/0429a.qABC
ibex/Map2018A_1deg_binned/0429b.qABC
ibex/Map2018A_1deg_binned/0430a.qABC
ibex/Map2018A_1deg_binned/0430b.qABC
ibex/Map2018A_1deg_binned/0431a.qABC
ibex/Map2018A_1deg_binned/0431b.qABC
ibex/.DS_Store
